body {
	color: #eeeeee;
	background-color: #336699;
}

canvas {
	background-color: #77aadd;
}

#top {
	padding: 4px;
}

#top:after {
	display: block;
	content: "";
	clear: both;
}

#logo {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 8px;
	background: url('../img/paw.png') center center/contain;
}

#clock {
	font-size: 24px;
	line-height: 32px;
}

#canvas {
	overflow: hidden;
	background-color: #77aadd;
	position: relative;
}

.paw {
	width: 24px;
	height: 24px;
	background: url('../img/paw.png') center center/contain;
	position: absolute;
	left: -100px;
	top: -100px;
}
